.countdown{
    background-image: linear-gradient( yellow, blue);
    color:#ffff;
    font-size: 1.8rem;
    padding: 25px;
}
.countdown__icons {
    cursor: pointer;
    float: right;
    display: none;
}

.countdown:hover .countdown__icons {
    display: block;
}